.table-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.input-area-full-width {
  width: 100%;
}

.mat-column-action {
  min-width: 90px;
  flex: 1 0 auto;
}

.actions-wrapper {
  display: inline-flex;
  justify-content: center;
  gap: 1px;
  .action {
    transition: all 0.3s;
  }
  .action:hover {
    box-shadow: -1px 1px 2px 2px gray;
  }
  .action + .action {
    margin-left: 4px;
  }
}

/* Expanded Row Setting */
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  opacity: 0.5;
}

tr.example-element-row:not(.example-expanded-row):active {
  opacity: 0.8;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  width: 100px;
  min-width:50px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid lightgray;

  border-radius: 8px;
  margin: 8px;
}

.example-element-description {
  margin: 8px;
}
