.table-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.input-area-full-width {
  width: 100%;
}

.mat-column-action {
  min-width: 90px;
  flex: 1 0 auto;
}

/* Expanded Row Setting */
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid lightgray;

  border-radius: 8px;
  margin: 8px;
}

.example-element-description {
  margin: 8px;
}
