.error-wrapper {
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: crimson;
  color: white;
  height: 4rem;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: transform 1s ease-in-out;
  z-index: 9999999999;
}

.error-wrapper-active {
  transform: translate(-50%, 0);
}

.error-message {
  font-size: 14pxm;
  letter-spacing: inherit;
  text-transform: capitalize;
  line-height: 1.1rem;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.error-btn {
  outline: none;
  border: none;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 800px) {
  .error-wrapper {
    top: 60px;
  }
}
