<div>
  <form class="main-form" (ngSubmit)="onSubmit()" [formGroup]="frmGroup">
    <h2>Contact Customer</h2>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <div fxFlex="40%" fxFlex.lt-md="100%">
        <mat-card>
          <mat-card-content>
            <h3 style="padding: 0 16px">
              Need to Visit&nbsp;&nbsp;<span class="important-detail">{{
                today | date: "MMM dd yyyy"
              }}</span>
            </h3>
            <mat-divider></mat-divider>
            <mat-selection-list
              #waitingList
              [multiple]="false"
              (selectionChange)="setSelectedRecord($event)"
            >
              <ng-container
                *ngIf="contactRecords && contactRecords.length > 0; else noData"
              >
                <mat-list-option
                  *ngFor="let record of contactRecords"
                  [value]="record._id"
                >
                  {{ record.customerName }}
                </mat-list-option>
              </ng-container>
              <ng-template #noData>
                <div style="margin-left: 16px">
                  No visit plan data matching today.
                </div>
              </ng-template>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="55%" fxFlex.lt-md="100%" class="notes-wrapper">
        <mat-card>
          <mat-card-content>
            <h3 style="padding: 0 16px">
              Customer selected:<span class="important-detail">
                {{ waitingList.selectedOptions.selected[0]?.getLabel() }}</span
              >
            </h3>
            <mat-divider></mat-divider>
          </mat-card-content>

          <button
            mat-raised-button
            style="margin-top: 16px"
            (click)="getLocationAndTime()"
            type="button"
          >
            Start Visit
          </button>
          <mat-list role="list">
            <mat-list-item role="listitem"
              >Lat:&nbsp;<span class="important-detail">{{
                latitude
              }}</span></mat-list-item
            >
            <mat-list-item role="listitem"
              >Lng:<span class="important-detail">{{ longitude }}</span
              >&nbsp;
            </mat-list-item>
            <mat-list-item role="listitem"
              >Start Time:&nbsp;<span class="important-detail">{{
                startTime | date: "long"
              }}</span></mat-list-item
            >
          </mat-list>
          <div >
            <mat-form-field class="input-area-full-width" appearance="fill">
              <mat-label>Notes</mat-label>
              <textarea
                matInput
                [formControl]="notesControl"
                rows="4"
              ></textarea>
              <mat-error *ngIf="notesControl.invalid">{{
                getNotesErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="frmGroup.invalid"
            click="onSubmit()"
          >
            Submit
          </button>
        </mat-card>
      </div>
    </div>
  </form>

  <google-map
    width="100%"
    height="500px"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  >
    <map-marker
      #markerElem="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [options]="marker.options"
      (mapClick)="openInfo(markerElem, marker.info)"
    ></map-marker>
    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>
</div>
<app-success *ngIf="successMessage" [message]="successMessage"></app-success>

<app-error *ngIf="errorMessage" [message]="errorMessage"></app-error>
