<mat-card class="example-card">
  <mat-card-header style="text-align: center">
    <mat-card-title>Golden Brand</mat-card-title>
    <mat-card-subtitle>Golden Brand</mat-card-subtitle>
  </mat-card-header>

  <img
    style="width: 200px; height: 200px; object-fit: cover"
    mat-card-image
    sizes="(max-width: 480px) 100vw, (max-width: 900px) 33vw, 254px"
    srcset="
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_200.jpg   200w,
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_381.jpg   381w,
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_530.jpg   530w,
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_699.jpg   699w,
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_728.jpg   728w,
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_792.jpg   792w,
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_1010.jpg 1010w,
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_1023.jpg 1023w,
      assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_1080.jpg 1080w
    "
    src="assets/e1_x9ck5u/e1_x9ck5u_c_scale,w_200.jpg"
    alt="engine"
  />

  <mat-card-content>
    <p [ngClass]="{ 'line-clamp': !showMore }" (click)="showMore = !showMore">
      The Shiba Inu is the smallest of th.
    </p>

    <p
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <span>12,34$</span>
      <span>1234 in stock</span>
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-raised-button color="primary">Add to Cart</button>
  </mat-card-actions>
</mat-card>
