<h2 mat-dialog-title>{{ getTitle() }}</h2>
<div mat-dialog-content>
  <p>Id:&nbsp;{{ getProductId() }}</p>
  <form [formGroup]="productForm" #myForm>
    <mat-form-field class="input-area-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        autofocus
        type="text"
        [formControl]="nameControl"
        required
      />
      <mat-error *ngIf="nameControl.invalid">{{
        getNameErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="input-area-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        type="text"
        [formControl]="descriptionControl"
        placeholder="Product Description.Ex.Powerful Anti-Frozen.."
        required
      ></textarea>
      <mat-error *ngIf="descriptionControl.invalid">{{
        getDescriptionErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="input-area-full-width" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="categoryControl" required>
        <mat-option value="gas">Gasoline</mat-option>
        <mat-option value="diesel">Diesel</mat-option>
        <mat-option value="lubricant">Lubricant</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="input-area-full-width" appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" [formControl]="priceControl" required />
      <mat-error *ngIf="priceControl.invalid">{{
        getPriceErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="input-area-full-width" appearance="fill">
      <mat-label>Stock</mat-label>
      <input matInput type="number" [formControl]="stockControl" required />
      <mat-error *ngIf="stockControl.invalid">{{
        getStockErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <br />
    <mat-checkbox class="input-area-full-width" [checked]="isOnsale" (change)="setOnsale($event.checked)"
      >On Sale</mat-checkbox
    >
    <ng-container
     *ngIf="errorMessage">
      <br />
     <div class="form-error" >{{ errorMessage }}</div>
    </ng-container>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Confirm</button>
</div>
