/* Structure */
table {
  width: 100%;
}

tr.example-element-row:hover {
  background: whitesmoke;
}

tr.example-element-row:active {
  background: #efefef;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
