@use "sass:map";
@use "~@angular/material" as mat;

@mixin forget-password-color(
  $config-or-theme,
  $shadow-color: rgba(0, 0, 255, 0.1)
) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  app-forget-password {
    .form-header {
      color: mat.get-color-from-palette($primary);
    }

    .information-text {
      color: mat.get-color-from-palette($accent);
    }
  }
}
