<div class="main_container">
  <mat-card>
    <main class="content">
      <form>
        <h2 class="form-header">Change Password</h2>
        <div class="container" *ngIf="!successMessage">
          <mat-form-field appearance="fill">
            <mat-label>Enter your old password</mat-label>
            <input
              matInput
              placeholder="Enter your email address here"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="container" *ngIf="!successMessage">
          <mat-form-field appearance="fill">
            <mat-label>Enter your new password</mat-label>
            <input
              matInput
              placeholder="Enter your email address here"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="container" *ngIf="!successMessage">
          <mat-form-field appearance="fill">
            <mat-label>Repeat your new password</mat-label>
            <input
              matInput
              placeholder="Enter your email address here"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="!successMessage">
          <button mat-raised-button color="primary" (click)="sendEmail()">
            Confirm
          </button>
          <button mat-raised-button color="accent" (click)="sendEmail()">
            Cancel
          </button>
        </div>
        <div *ngIf="successMessage" class="information-text">
          {{ successMessage }}
        </div>
      </form>
    </main>
  </mat-card>
</div>
<app-error *ngIf="errorMessage" [message]="errorMessage"></app-error>
