<div class="main_container">
  <mat-card>
    <main class="content">
      <form>
        <h2 class="form-header">Send Reset Password Email</h2>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="Enter your email address here"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="accent" (click)="sendEmail()">
            Send
          </button>
        </div>
      </form>
    </main>
  </mat-card>
</div>
