@use "sass:map";
@use "~@angular/material" as mat;

@mixin searchbox-color($config-or-theme, $shadow-color: rgba(0, 0, 255, 0.1)) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  app-search-box {
    .search-input {
      &:hover {
        border: 3px solid mat.get-color-from-palette($primary, 200);
      }
    }
  }
}
