.search-box-wrapper {
  position: relative;
  width: 100%;
  min-width: 150px;
  height: 100%;
  margin-right: 16px;
  mat-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    color: lightgray;
  }
}

input {
  color: #444;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 8px 16px;
  width: 100%;
  max-width: 240px;
  line-height: 1.1rem;
  -webkit-appearance: none;
  transition: width 0.4s ease-in-out;
  &:focus {
    width: 110%;
  }
}
