@use 'sass:map';
@use '~@angular/material' as mat;

@mixin scheduler-color($config-or-theme, $shadow-color: rgba(0, 0, 255, 0.1)) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  app-scheduler {
    .search-area {
      box-shadow: 0 0 2rem 0.15rem $shadow-color;
      .search-area_button:hover {
        background-color: mat.get-color-from-palette($primary, 50);
      }
    }

    .search-area_error {
      border-left: 2px solid mat.get-color-from-palette($warn);
      box-shadow: 0px 2px 4px -1px $shadow-color, 0px 4px 5px 0px $shadow-color,
        0px 1px 10px 0px $shadow-color;
    }

    .data-list-wrapper {
      box-shadow: 0px 2px 4px -1px $shadow-color, 0px 4px 5px 0px $shadow-color,
        0px 1px 10px 0px $shadow-color;
    }

    .daily-task-card {
      .th_icon:hover {
        background-color: mat.get-color-from-palette($primary, 50);
      }
    }
  }
}
