<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div class="calendar-section" fxFlex="50%" fxFlex.xs="100%">
    <app-calendar (itemEvent)="selectDate($event)"></app-calendar>
  </div>
  <div class="task-section" fxFlex="50%" fxFlex.xs="100%">
    <div class="task-section-search-area">
      <input
        type="text"
        class="task-section-search-area_input"
        autocomplete
        placeholder="search salesperson"
        [(ngModel)]="selectedPerson"
        (keyup.enter)="selectPersonByEnter(input.value)"
        (ngModelChange)="inputPersonChange(input.value)"
        #input
      />
      <button mat-button class="task-section-search-area_button">
        <mat-icon color="primary">search</mat-icon>
      </button>
    </div>
    <div *ngIf="!isValidPerson && selectedPerson.trim().length > 0">
      <mat-card class="task-section-search-area_input-error"
        >Salesperson named {{ selectedPerson }} does not exist.</mat-card
      >
    </div>

    <div
      *ngIf="showPersonList && personList.length >= 1"
      class="task-section-person-list-wrapper"
    >
      <mat-card>
        <mat-selection-list
          #persons
          [multiple]="false"
          (selectionChange)="selectPerson($event)"
        >
          <mat-list-option *ngFor="let person of personList" [value]="person">
            {{ person }}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
    </div>

    <div class="task-section-daily-task-card">
      <h3 mat-dialog-title>My form</h3>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="th_icon bigger-padding" *ngIf="!element.name">
              <mat-icon>add</mat-icon>
            </div>
            <div class="th_icon" *ngIf="element.name">
              <mat-icon>edit</mat-icon>
            </div>
            <div
              class="th_icon"
              *ngIf="element.name"
              (click)="openDeleteDialog()"
            >
              <mat-icon>delete</mat-icon>
            </div>
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Period Column -->
        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef class="text-right">Peroid</th>
          <td mat-cell *matCellDef="let element" class="text-right">
            {{ element.period }}
          </td>
        </ng-container>

        <!-- Tabel Title Description Column -->
        <ng-container matColumnDef="table-title">
          <th
            mat-header-cell
            *matHeaderCellDef
            colspan="3"
            style="font-size: 16px; font-weight: 900"
          >
            {{ selectedDay }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Task List
          </th>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['table-title']"
          class="example-second-header-row"
        ></tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
