.task-section {
  position: relative;
}

.search-area {
  position: relative;
  width: 100%;
  min-width: 150px;
  margin-right: 16px;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 4px;
  .search-area_input {
    width: 100%;
    border: none;
    outline: none;
    padding: 16px;
    height: 90%;
    -webkit-appearance: none;
    transition: width 0.4s ease-in-out;
    font-size: 1rem;
  }
  .search-person::placeholder {
    font-size: 1rem;
    color: #131f69;
    letter-spacing: 0.1rem;
  }
  .search-area_button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
  }
}

.task-section-position-basic {
  left: 0;
  right: 16px;
}

.search-area_input-error {
  @extend .task-section-position-basic;
  padding: 8px;
  color:red;
  border-left: 1px solid red;
  z-index: 1002;
}

.data-list-wrapper {
  @extend .task-section-position-basic;
  margin: 0 auto;
  padding: 0;
  border-radius: 4px;
  z-index: 1001;
}

.daily-task-card {
  @extend .task-section-position-basic;
  z-index: 1000;
  table {
    width: 100%;
    text-align: left;
    .selected-date-column {
      font-size: 16px;
      font-weight: 900;
    }
    .th_icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      border-radius: 4px;
      &.bigger-padding {
        padding: 4px 16px;
      }
    }
  }
}

.text-right {
  text-align: right;
}
