.search-person-input-wrapper {
  position: relative;
  width: 100%;
  min-width: 150px;
  margin-right: 16px;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
  .search-person {
    width: 100%;
    border: none;
    outline: none;
    padding: 16px;
    height: 90%;
    -webkit-appearance: none;
    transition: width 0.4s ease-in-out;
    font-size: 1rem;
  }
  .search-person::placeholder {
    font-size: 1rem;
    color: #131f69;
    letter-spacing: 0.1rem;
  }
  button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
  }
}

.search-data-list-wrapper {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 4px;
  max-height: 12rem;
  overflow-y: auto;
  z-index: 1001;
}

.taskList {
  position: relative;
  .daily-task-card {
    position: absolute;
    top: 60px;
    left: 0;
    overflow: visible;
    right: 0;
    z-index: 1000;
    .daily-task {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
