.task-section {
  position: relative;
}

.task-section-search-area {
  position: relative;
  width: 100%;
  min-width: 150px;
  margin-right: 16px;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
  .task-section-search-area_input {
    width: 100%;
    border: none;
    outline: none;
    padding: 16px;
    height: 90%;
    -webkit-appearance: none;
    transition: width 0.4s ease-in-out;
    font-size: 1rem;
  }
  .search-person::placeholder {
    font-size: 1rem;
    color: #131f69;
    letter-spacing: 0.1rem;
  }
  .task-section-search-area_button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
  }
}

.task-section-absolute-basic {
  position: absolute;
  top: 55px;
  left: 0;
  right: 16px;
}

.task-section-search-area_input-error {
  @extend .task-section-absolute-basic;
  border-left: 2px solid red;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  padding: 8px;
  z-index: 1002;
}

.task-section-person-list-wrapper {
  @extend .task-section-absolute-basic;
  margin: 0 auto;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  max-height: 12rem;
  overflow-y: auto;
  z-index: 1001;
}

.task-section-daily-task-card {
  @extend .task-section-absolute-basic;
  overflow: visible;

  z-index: 1000;
  .daily-task-card-content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    table.task-list {
      font-size: 1rem;
      color: #333;
      td:last-child {
        text-align: right;
      }
    }
  }
}
