@import "~@angular/material/theming";

@mixin cart-item-color($config-or-theme, $background: "") {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  @if $background != "" {
    app-cart-item {
      background-color: $background;
    }
  }

  app-cart-item {
    .mat-raised-button {
      margin-left: 8px;
      transition: all 0.3s;
      &:hover,
      &:focus {
        background-color: mat-color($primary, 50) !important;
      }
    }
    .item-price {
      color: mat-color($accent, 700) !important;
    }
  }
}
