<form [formGroup]="myForm">
  <div class="item-wrapper">
    <div class="item-image-wrapper">
      <input
        #selectedFlag
        type="checkbox"
        checked="item.checked"
        (change)="onSelectedChange(selectedFlag.checked)"
      />
      <img class="item-image" [src]="item.imageUrl" alt="xxx" />
    </div>
    <div class="item-main-info">
      <p
        [ngClass]="{ 'item-description': !showMore }"
        (click)="showMore = !showMore"
      >
        {{ item.productName }}
      </p>
      <div class="item-price small-screen my">{{ item.price }}$</div>
      <p>{{ item.stock }} in stock</p>
      <div>
        Qty: &nbsp;
        <mat-form-field>
          <input
            formControlName="productQty"
            #qty
            matInput
            type="number"
            value="item.qty"
            [readonly]="qtyReadOnly"
            required
          />
          <mat-error *ngIf="productQty?.touched && productQty?.invalid">
            Qty should be between 0 and 1000.</mat-error
          >
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onUpdate()">
          {{ updateButtonText }}
        </button>
        <button mat-raised-button (click)="onDelete()">delete</button>
      </div>
    </div>
    <div class="item-price big-screen">{{ item.price }}$</div>
  </div>

  <div class="divider"></div>
</form>
