.item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}
.item-image-wrapper {
  margin-right: 16px;
}
.item-image {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
  vertical-align: top;
}
.item-main-info {
  flex: 1
}
.item-price {
  font-weight: 600;
}

.item-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.big-screen {
  visibility: visible;
}

.small-screen {
  visibility: hidden;
}

.my {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mat-raised-button {
  margin-left: 8px;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  transform: scaleY(0.5);
  width: 100%;
}

@media screen and (max-width: 599px) {
  .big-screen {
    visibility: hidden;
  }

  .small-screen {
    visibility: visible;
  }
}
