<form [formGroup]="myForm">
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 16px;
    "
  >
    <div style="margin-right: 16px">
      <input
        #selectedFlag
        type="checkbox"
        checked="item.checked"
        (change)="onSelectedChange(selectedFlag.checked)"
      />
      <img
        style="
          width: 100px;
          height: 100px;
          border-radius: 4px;
          object-fit: cover;
          vertical-align: top;
        "
        [src]="item.imageUrl"
        alt="xxx"
      />
    </div>
    <div style="flex: 1">
      <p
        [ngClass]="{ 'line-clamp': !showMore }"
        class="product-description"
        (click)="showMore = !showMore"
      >
        {{ item.productName }}
      </p>
      <div class="item-price small-screen my">{{ item.price }}$</div>
      <p>{{ item.stock }} in stock</p>
      <div>
        Qty: &nbsp;
        <mat-form-field class="example-full-width">
          <input
            formControlName="productQty"
            #qty
            matInput
            type="number"
            value="item.qty"
            [readonly]="qtyReadOnly"
            required
          />
          <mat-error *ngIf="productQty?.touched && productQty?.invalid">
            Qty should be between 0 and 1000.</mat-error
          >
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onUpdate()">
          {{ updateButtonText }}
        </button>
        <button mat-raised-button (click)="onDelete()">delete</button>
      </div>
    </div>
    <div class="item-price big-screen">{{item.price}}$</div>
  </div>

  <div class="divider"></div>
</form>
