<div class="slideshow-container">
  <div
    @flyInOut
    *ngIf="activeSlideIdx === 0"
    fxLayout="row wrap "
    fxLayoutAlign="space-between"
  >
    <div fxFlex="48%" fxFlex.lt-md="100%">
      <img src="./assets/station.jpg" class="slide-image" alt="slide image" />
    </div>
    <div fxFlex="48%" fxFlex.lt-md="100%" class="slideshow-text-wrapper">
      <h3 class="slideshow-text-header">Best gas station near your house</h3>
      <h4>24/7 service without stopping</h4>
      <p class="slideshow-text-details">
        <button mat-raised-button color="primary" routerLink="/find-store">
          Know more...<mat-icon>navigate_next</mat-icon>
        </button>
      </p>
    </div>
  </div>

  <div
    @flyInOut
    *ngIf="activeSlideIdx === 1"
    fxLayout="row wrap "
    fxLayoutAlign="space-between"
  >
    <div fxFlex="48%" fxFlex.lt-md="100%">
      <img src="./assets/garage.jpg" class="slide-image" alt="slide image" />
    </div>
    <div fxFlex="48%" fxFlex.lt-md="100%" class="slideshow-text-area">
      <h3 class="slideshow-text-header">Best engineers. Best service.</h3>
      <div style="display: flex; justify-content: flex-start; padding: 8px">
        <div style="border-right: 1px solid lightgray; padding-right: 8px">
          <p style="font-size: 16px; font-weight: bold">1200</p>
          <p>qualified engineers</p>
        </div>
        <div style="padding-left: 8px">
          <p style="font-size: 16px; font-weight: bold">12000</p>
          <p>franchised service centers</p>
        </div>
      </div>
    </div>
  </div>

  <div
    @flyInOut
    *ngIf="activeSlideIdx === 2"
    fxLayout="row wrap "
    fxLayoutAlign="space-between"
  >
    <div fxFlex="48%" fxFlex.lt-md="100%">
      <img
        src="./assets/carwashing.jpg"
        class="slide-image"
        alt="slide image"
      />
    </div>
    <div fxFlex="48%" fxFlex.lt-md="100%" class="slideshow-text-area">
      <h3 class="slideshow-text-header">All in One</h3>
      <p class="slideshow-text-details">
        From Oct 1 2021 , we will supply one year free car-washing service for
        customers whose order value is more than $100. Download our app for more
        information about discounts and products on-sale.
      </p>
    </div>
  </div>

  <ul class="slideshow-dots">
    <li
      *ngFor="let slide of slides"
      [ngClass]="{ active: slide === activeSlideIdx }"
    >
      <a (click)="jumpToSlide(slide)">{{ slide + 1 }}</a>
    </li>
  </ul>
  <a class="prev" (click)="changeSlideManually(-1)">❮</a>
  <a class="next" (click)="changeSlideManually(1)">❯</a>
</div>
