<h2>Pipeline Management</h2>
<div>new clients are registered <button mat-raised-button>Refresh</button></div>
<mat-list>
  <mat-list-item *ngFor="let message of messages; trackBy: trackByPipelineId">
    <img
      matListAvatar
      src="https://source.unsplash.com/IuLgi9PWETU/50x50"
      alt="hi"
    />
    <h3 matLine>{{ message.from }}</h3>
    <p matLine>
      <span> {{ message.subject }} </span>
      <span class="demo-2"> -- {{ message.content }} </span>
    </p>
  </mat-list-item>
</mat-list>
