.image-button-container {
  position: absolute;
  z-index: 3;
  background-color: white;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  &.print {
    right: 8px;
    top: 110px;
  }
  &.copy {
    left: 8px;
    top: 110px;
  }
}

.product-card {
  text-align: center;
  mat-card-header {
    justify-content: center;
  }
  &:hover {
    .image-button-container {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.mat-card-subtitle {
  padding: 5px !important;
  border-radius: 5px;
  min-width: 80px;
  &.gas {
    background-color: #fffde7 !important;
    color: #f57f17;
  }
  &.diesel {
    background-color: #eeeeee !important;
    color: #616161;
  }
  &.lubricant {
    background-color: #e8f5e9 !important;
    color: #2e7d32;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.product-description {
  text-align: left;
}

.product-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-image {
  height:150px;
  object-fit: cover;
}
