<mat-card class="product-card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>{{ productItem.name }}</mat-card-title>
    <mat-card-subtitle [ngClass]="productItem.category">{{
      productItem.category
    }}</mat-card-subtitle>
  </mat-card-header>

  <button  mat-raised-button
    class="image-button-container print mat-elevation-z4"
    (click)="openPdf()"
  >
    <mat-icon color="primary">print</mat-icon>
  </button>
  <button  mat-raised-button
    class="image-button-container copy mat-elevation-z4"
    [cdkCopyToClipboard]="productItem.description"
  >
    <mat-icon color="primary">content_copy</mat-icon>
  </button>

  <img
    class="product-image"
    mat-card-image
    sizes="(max-width: 1080px) 100vw, 1080px"
    [src]="imgSrc"
    [srcset]="imgSrcset"
    [alt]="productItem.name"
  />

  <mat-card-content>
    <p
      [ngClass]="{ 'line-clamp': !showMore }"
      class="product-description"
      (click)="showMore = !showMore"
    >
      {{ productItem.description }}
    </p>

    <p class="product-stock">
      <span>{{ productItem.price }}$</span>
      <span *ngIf="productItem.stock > 0"
        >{{ productItem.stock }} in stock</span
      >
      <span *ngIf="!(productItem.stock > 0)">out of stock</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="productItem.stock > 0"
      mat-raised-button
      color="primary"
      (click)="handleAddToCart()"
    >
      Add to Cart
    </button>
    <button
      *ngIf="!(productItem.stock > 0)"
      mat-raised-button
      (click)="handleAddToWishList()"
    >
      Add to Wait List
    </button>
  </mat-card-actions>
</mat-card>

<app-error *ngIf="errorMessage" [message]="errorMessage"></app-error>
