<div class="container">
  <h2 class="content-header">Sales Data Analyze ( Sep 2021 )</h2>
  <div class="content">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="By Category">
        <mat-card class="content-body">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" fxFlex.lt-md="100%">
              <div echarts [initOpts]="initOpts" [options]="pieOptions"></div>
            </div>
            <div fxFlex="50%" fxFlex.lt-md="100%">
              <h3>Top 10 popular products</h3>
              <table>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Amount($)</th>
                </tr>
                <ng-container
                  *ngFor="let item of pieData; let position = index"
                >
                  <tr>
                    <td>{{ position + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.value }}</td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="By Customer">
        <mat-card class="content-body">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" fxFlex.lt-md="100%">
              <div echarts [options]="barOptions"></div>
            </div>

            <div fxFlex="50%" fxFlex.lt-md="100%">
              <h3>Top 10 VIP Customers</h3>
              <table>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Amount($)</th>
                </tr>
                <ng-container
                  *ngFor="let item of barData.xAxisData; let position = index"
                >
                  <tr>
                    <td>{{ position + 1 }}</td>
                    <td>{{ item }}</td>
                    <td>{{ barData.seriesData[position] }}</td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
        </mat-card></mat-tab
      ><mat-tab label="By Salesperson">
        <mat-card class="content-body">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" fxFlex.lt-md="100%">
              <div echarts [options]="LineOptions"></div>
            </div>

            <div fxFlex="50%" fxFlex.lt-md="100%">
              <h3>Top 10 Salespersons</h3>
              <table>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Amount($)</th>
                </tr>
                <ng-container
                  *ngFor="let item of lineData.xAxisData; let position = index"
                >
                  <tr>
                    <td>{{ position + 1 }}</td>
                    <td>{{ item }}</td>
                    <td>{{ lineData.seriesData[position] }}</td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
        </mat-card></mat-tab
      >

      <mat-tab label="InitData">
        <mat-card class="content-body">
          <button
            mat-raised-button
            class="download-button"
            (click)="downloadData()"
          >
            <mat-icon>file_download</mat-icon>
            Download
          </button>
          <table
            mat-table
            style="width: 100%"
            [dataSource]="dataSource"
            matSort
            class="mat-elevation-z8"
          >
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.position }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
              <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
