@use "sass:map";
@use "~@angular/material" as mat;

@mixin change-password-color(
  $config-or-theme,
  $shadow-color: rgba(0, 0, 255, 0.1)
) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  app-change-password {
    .form-error {
      color: mat.get-color-from-palette($warn);
      border-left: 2px solid mat.get-color-from-palette($warn);
    }
    .home-link {
      text-decoration: none;
      color: mat.get-color-from-palette($primary);
      font-weight: 400;
      margin: 8px 8px;
      padding: 4px;
      transition: all 0.3s;
      border-radius: 4px;
      &:hover,
      &:active {
        color: mat.get-color-from-palette($primary, 100);
        text-decoration: underline;
        text-decoration-color: mat.get-color-from-palette($accent);
        text-underline-position: below;
      }
    }
  }
}
