<div class="main_container">
  <mat-card>
    <main class="content">
      <form
        (ngSubmit)="changePassword()"
        #changeForm="ngForm"
        [formGroup]="myForm"
      >
        <h2 class="form-header">Change Password</h2>
        <div class="form-input-section" *ngIf="!successMessage">
          <div class="form-input-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your old password</mat-label>
              <input
                matInput
                required
                maxlength="100"
                 formControlName="oldPassword"
                [type]="hideOld ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideOld = !hideOld"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideOld"
              >
                <mat-icon>{{
                  hideOld ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="oldPassword?.invalid">{{
                getOldPasswordErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-input-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your new password</mat-label>
              <input
                matInput
                required
                maxlength="100"
                formControlName="password"
                [type]="hideNew ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideNew = !hideNew"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNew"
              >
                <mat-icon>{{
                  hideNew ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="password?.invalid">{{
                getNewPasswordErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-input-container">
            <mat-form-field appearance="fill">
              <mat-label>Repeat your new password</mat-label>
              <input
                matInput
                required
                maxlength="100"
                formControlName="repeatPassword"
                [type]="hideRepeatNew ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideRepeatNew = !hideRepeatNew"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideRepeatNew"
              >
                <mat-icon>{{
                  hideRepeatNew ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error *ngIf="repeatPassword?.invalid">{{
                getRepeatNewPasswordErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
          <div
            class="form-error"
            *ngIf="
              myForm?.touched &&
              myForm?.invalid &&
              repeatPassword?.value.length > 0 &&
              myForm?.errors?.identifyPassword
            "
          >
            RepeatPassword should be equal to password.
          </div>
          <div class="form-input-container" style="display: flex; justify-content:center">
            <button
              mat-raised-button
              color="primary"
              (click)="changePassword()"
            >
              Submit
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="changeForm.reset()"
            >
              Reset
            </button>
          </div>
        </div>
        <div *ngIf="successMessage" class="information-text">
          <a class="home-link" routerLink="/home">{{ successMessage }} </a>
        </div>
      </form>
    </main>
  </mat-card>
</div>
<app-error *ngIf="errorMessage" [message]="errorMessage"></app-error>
