.main_container {
  width: 80%;
  margin: 16px auto;
  max-width: 600px;
  text-align: center;
}

.form-header {
  letter-spacing: 0.2rem;
}

.form-input-container + .form-input-container {
  margin-top: 16px;
}

.mat-raised-button ~ .mat-raised-button {
  margin-left: 16px !important;
}
.home-link {
  font-size: 1rem;
}

.form-error {
  padding-left: 8px;
}
