@use 'sass:map';
@use '~@angular/material' as mat;

@mixin find-store-color($config-or-theme, $shadow-color: rgba(0, 0, 255, 0.1)) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  app-find-store {
    .search-area {
      box-shadow: 0 0 2rem 0.15rem $shadow-color;
      .search-area_button {
        background-color: mat.get-color-from-palette($primary, 50);
      }
    }

    .location-icon-section {
      .location-icon-wrapper {
        .location-icon {
          color: mat.get-color-from-palette($primary,400);
        }
      }
    }

    .location-text-wrapper {
      .location-name {
        color: mat.get-color-from-palette($primary, 400);
      }
    }
  }
}
