<main>
  <h2>Find a store</h2>

  <div class="search-area">
    <input
      type="text"
      class="search-area_input"
      autocomplete
      placeholder="enter zipcode"
      #input
    />
    <button
      mat-button
      class="search-area_button"
      (click)="getPositionByZipCode(input.value)"
    >
      <mat-icon color="primary">search</mat-icon>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="8px grid">
    <div fxFlex="30%" fxFlex.lt-md="100%">
      <mat-card class="main-card">
        <div *ngIf="storeArray.length > 0; else no_data_alert">
          <h3 class="location_list_header">Showing 5 stores</h3>
          <ng-container *ngFor="let store of storeArray">
            <hr class="location-divider" />
            <div class="location">
              <div class="location-icon-section">
                <div class="location-icon-wrapper">
                  <span class="location_icon_number">{{ store.ranking }}</span>
                  <mat-icon class="location-icon">place</mat-icon>
                </div>
                <div>{{ store.distance }}</div>
              </div>
              <div class="location-text-wrapper">
                <div class="location-name">{{ store.name }}</div>
                <div>{{ store.address }}</div>
                <div class="location-open-period">Open until 5:00</div>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-template #no_data_alert>
          <p class="no-data-alert">No store data matching...</p></ng-template
        >
      </mat-card>
    </div>

    <div fxFlex="70%" fxFlex.lt-md="100%" style="position: relative">
      <span class="map-zoom-button zoom-in" (click)="zoomIn()"
        ><mat-icon>add</mat-icon></span
      >
      <span class="map-zoom-button zoom-out" (click)="zoomOut()"
        ><mat-icon>remove</mat-icon></span
      >
      <google-map
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="click($event)"
      >
        <map-marker
          #markerElem
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
          (mapClick)="openInfo(markerElem, marker.info)"
        ></map-marker>

        <map-info-window>{{ infoContent }}</map-info-window>
      </google-map>
    </div>
  </div>
</main>
