<div
  class="app-container"
  [class.darkMode]="themeService.isDarkTheme | async"
  [class.is-handset]="isHandset$ | async"
>
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row *ngIf="!(isHandset$ | async)" class="pliable-toolbar">
      <span class="link-item">PRODUCT MANUAL</span>
      <span class="link-item">TECHNICAL SERVICE</span>
      <span class="link-item">EMAIL</span>
      <span class="link-item">FIND A STORE</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        [title]="getThemeLabel()"
        [attr.aria-label]="getThemeLabel()"
        (click)="toggleTheme()"
      >
        <mat-icon *ngIf="!isDark">dark_mode</mat-icon>
        <mat-icon *ngIf="isDark">light_mode</mat-icon>
      </button>
      <button
        mat-button
        [title]="getLanguageLabel()"
        [attr.aria-label]="getLanguageLabel()"
        (click)="toggleLanguage()"
      >
        <a *ngIf="currentLanguage === 'french'" class="nav-bar-item" href="/en/"
          >English</a
        >
        <a
          *ngIf="currentLanguage === 'english'"
          class="nav-link"
          href="/fr/"
          >Français</a
        >
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="fix-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <h1 class="app-name" routerLink="/home">Center</h1>
      <span class="spacer"></span>

      <app-search-box></app-search-box>

      <a class="nav-link" routerLink="/home"><mat-icon>home</mat-icon>Home</a>

      <a class="nav-link" (click)="logout()"
        ><mat-icon>account_circle</mat-icon>Hello, Jennifer</a
      >
      <a
        class="nav-link"
        routerLink="/cart"
        *ngIf="cartService.items.length > 0"
      >
        <mat-icon
          [matBadge]="cartService.getTotal()"
          matBadgeColor="accent"
          aria-label="Shopping cart icon"
          >shopping_cart</mat-icon
        >cart</a
      >
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="(isHandset$ | async) ? 56 : 0"
  >
    <mat-sidenav
      #drawer
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [fixedInViewport]="isHandset$ | async"
      fixedTopGap="56"
      [opened]="(isHandset$ | async) === false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    >
      <mat-nav-list>
        <h3 mat-subheader>Administrator</h3>
        <app-menu-list-item
          *ngFor="let item of adminItems"
          [item]="item"
        ></app-menu-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Manager</h3>
        <app-menu-list-item
          *ngFor="let item of managerItems"
          [item]="item"
        ></app-menu-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Salesperson</h3>
        <app-menu-list-item
          *ngFor="let item of salespersonItems"
          [item]="item"
        ></app-menu-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>More Information</h3>
        <app-menu-list-item
          *ngFor="let item of othersItems"
          [item]="item"
        ></app-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-scroll-to-top></app-scroll-to-top>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
