<div
  class="app-container"
  [class.darkMode]="themeService.isDarkTheme | async"
  [class.is-handset]="themeService.isHandset | async"
>
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row
      *ngIf="(themeService.isHandset | async) === false"
      class="pliable-toolbar"
    >
      <span class="link-item"
        ><a [routerLink]="['/find-store']">PRODUCT MANUAL</a></span
      >
      <span class="link-item"
        ><a [routerLink]="['/technical-support']">TECHNICAL SUPPORT</a></span
      >
      <span class="link-item"
        ><a [routerLink]="['/email-to-us']">EMAIL</a></span
      >
      <span class="link-item"
        ><a [routerLink]="['/find-store']">FIND A STORE</a>
      </span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        [title]="getThemeLabel()"
        [attr.aria-label]="getThemeLabel()"
        (click)="toggleTheme()"
      >
        <mat-icon *ngIf="!isDark">dark_mode</mat-icon>
        <mat-icon *ngIf="isDark">light_mode</mat-icon>
      </button>
      <button
        mat-button
        [title]="getLanguageLabel()"
        [attr.aria-label]="getLanguageLabel()"
        (click)="toggleLanguage()"
      >
        <a *ngIf="currentLanguage === 'french'" class="nav-bar-item" href="/en/"
          >English</a
        >
        <a *ngIf="currentLanguage === 'english'" class="nav-link" href="/fr/"
          >Français</a
        >
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="fix-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="themeService.isHandset | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <h1 class="app-name" routerLink="/home">Center</h1>
      <span class="spacer"></span>

      <app-search-box></app-search-box>




      <a class="nav-link" style="margin-left:16px;" routerLink="/home" *ngIf="(themeService.isHandset | async) === false"><mat-icon>home</mat-icon>Home</a>

      <a
        class="nav-link"
        *ngIf="!this.authService.currentUser?.name"
        routerLink="/login"
      >
        <mat-icon>account_circle</mat-icon>Login
      </a>
      <a class="nav-link" *ngIf="this.authService.currentUser?.name">
        <span
          ><button mat-button [matMenuTriggerFor]="profileMenu"><mat-icon>account_circle</mat-icon
          >
            {{this.authService.currentUser?.name}}
          </button></span
        ></a
      >
      <mat-menu #profileMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="this.authService.logout()">
          Logout
        </button>
        <button mat-menu-item routerLink="/change-password">
          Change Password
        </button>
        <button mat-menu-item routerLink="/dashboard">Dashboard</button>
      </mat-menu>

      <a
        class="nav-link"
        routerLink="/cart"
        *ngIf="cartService.items.length > 0"
      >
        <mat-icon
          [matBadge]="cartService.getTotalQuantity()"
          matBadgeColor="accent"
          aria-label="Shopping cart icon"
          >shopping_cart</mat-icon
        >cart</a
      >
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="(themeService.isHandset | async) ? 56 : 0"
  >
    <mat-sidenav
      #drawer
      [mode]="(themeService.isHandset | async) ? 'over' : 'side'"
      [fixedInViewport]="themeService.isHandset | async"
      fixedTopGap="56"
      [opened]="(themeService.isHandset | async) === false"
      [attr.role]="(themeService.isHandset | async) ? 'dialog' : 'navigation'"
    >
      <mat-nav-list>
        <h3 mat-subheader>Administrator</h3>
        <app-menu-list-item
          *ngFor="let item of adminItems"
          [item]="item"
        ></app-menu-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Manager</h3>
        <app-menu-list-item
          *ngFor="let item of managerItems"
          [item]="item"
        ></app-menu-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Salesperson</h3>
        <app-menu-list-item
          *ngFor="let item of salespersonItems"
          [item]="item"
        ></app-menu-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>More Information</h3>
        <app-menu-list-item
          *ngFor="let item of othersItems"
          [item]="item"
        ></app-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-wrapper" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <mat-progress-spinner
        #spin
        [mode]="'indeterminate'"
        *ngIf="loading$ | async"
      ></mat-progress-spinner>
      <app-scroll-to-top></app-scroll-to-top>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
