.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  position: relative;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  .fix-toolbar,
  .pliable-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
}

.is-handset .toolbar {
  position: fixed;

  height: 56px;
}

.pliable-toolbar {
  height: 30px;
  background-color: black;
  font-size: 0.7rem;
  font-weight: 300;
  .link-item a {
    margin-left: 24px;
    text-decoration: none;
    color: white;
    &:hover {
      border-radius: 4px;
      padding: 4px 0px;
      box-shadow: 0px 2px 2px 2px lightgray;
    }
  }
}

.toolbar .spacer {
  flex: 1 1 auto;
}

.toolbar .nav-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 8px;
  padding: 4px;
  transition: all 0.3s;
  border-radius: 4px;
  &:hover,
  &:active {
    border: 1px solid white;
    opacity: 0.8;
  }

  mat-icon {
    margin-right: 4px;
    vertical-align: middle;
  }
}

h1.app-name {
  margin-left: 8px;
}

.mat-sidenav {
  width: 240px;
}

.mat-divider {
  margin: 8px auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.sidenav-container {
  flex: 1;
}

.is-handset .sidenav-container {
  /* When the sidenav is fixed,
  don't constrain the height of the sidenav container */
  flex: 1 0 auto;
}

.content-wrapper {
  margin: 16px;
  min-height: calc(100vh - 140px);
}
mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}
