.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.is-handset .toolbar {
  position: fixed;
  z-index: 2;
  height: 56px;
}

.fix-toolbar,
.pliable-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.pliable-toolbar {
  height: 30px;
  background-color: black;
  font-size: 0.7rem;
}

.toolbar .spacer {
  flex: 1 1 auto;
}

.toolbar .nav-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 8px;
  padding: 4px;
  transition: all 0.3s;
  border-radius: 4px;

  &:hover,
  &:active {
    border: 1px solid white;
    opacity: 0.8;
  }
  mat-icon {
    margin-right: 4px;
    vertical-align: middle;
  }
}

h1.app-name {
  margin-left: 8px;
}

.mat-sidenav {
  width: 240px;
}

.mat-divider {
  margin: 16px auto;
  background-color: rgba(255, 255, 255, 0.5);
}
.sidenav-container {
  /* When the sidenav is not fixed, stretch the
  sidenav container to fill the available space*/
  flex: 1;
}

.is-handset .sidenav-container {
  /* When the sidenav is fixed,
  don't constrain the height of the sidenav container */
  flex: 1 0 auto;
}

.main-wrapper {
    margin: 16px;
  }
