.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.pipeline-item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.card-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  display: block;
  border: 2px solid lightgray;
}

.box-shadow {
  box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.fxflex {
  border-radius: 8px;

  td {
    padding: 8px;
  }
  .card-subtitle {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .divider-in-text {
    padding: 0 4px;
    font-weight: bold;
  }

  svg.social {
    height: 30px;
    vertical-align: middle;
    margin-right: 16px;
  }

  .social-media {
    @extend .box-shadow;
    margin: 16px auto;
    padding: 8px;
    border-radius: 16px;
    text-align: left;
    a {
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
}
