<div class="grid-container">
  <h1 class="mat-h1">
    Dashboard
    <span style="font-style: italic">{{ currentMonth | date: "MMM y" }}</span>
  </h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="cards[0].cols" [rowspan]="cards[0].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ cards[0].title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div fxFlex="50%" fxFlex.lt-md="100%" class="fxflex box-shadow">
              <table>
                <tr style="vertical-align: top">
                  <td>
                    <img
                      class="card-avatar"
                      alt="avatar"
                      src="./assets/avatar.jpg"
                    />
                  </td>
                  <td style="text-align: left">
                    <p class="card-subtitle">{{ user.name }}</p>
                    <p>
                      Sales Manager <span class="divider-in-text">|</span>3th
                      Department
                    </p>
                    <p>Senior Technicien</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <button mat-raised-button class="profie-button">
                      Change Avatar
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div fxFlex="45%" fxHide.lt-md class="fxflex">
              <div class="social-media twitter">
                <div>
                  <img src="../assets/twitter.png" class="media-icon" />
                </div>
                <div class="media-text-area">
                  <span class="media-name">Twitter</span><br />
                  <a
                    class="media-link"
                    href="https://www.twitter.com"
                    target="_blank"
                    rel="noopener"
                    >Follow Me</a
                  >
                </div>
              </div>
              <div class="social-media facebook">
                <div>
                  <img src="../assets/facebook.png" class="media-icon" />
                </div>
                <div class="media-text-area">
                  <span class="media-name">Facebook</span><br /><a
                    class="media-link"
                    href="https://www.facebook.com"
                    target="_blank"
                    rel="noopener"
                    >Follow Me</a
                  >
                </div>
              </div>
              <div class="social-media linkedin">
                <div>
                  <img src="../assets/linkedin.png" class="media-icon" />
                </div>
                <div class="media-text-area">
                  <span class="media-name">Linkedin</span><br />
                  <a
                    class="media-link"
                    href="https://www.linkedin.com"
                    target="_blank"
                    rel="noopener"
                    >Follow Me</a
                  >
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="cards[1].cols" [rowspan]="cards[1].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ cards[1].title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="pipeline-item">
            <div>Visited Customer:</div>
            <div class="important-data">120</div>
          </div>
          <div class="pipeline-item">
            <div>Digged out New Customer:</div>
            <div class="important-data">111</div>
          </div>
          <div class="pipeline-item">
            <div>Travelled Distance:</div>
            <div class="important-data">12,000 km</div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="cards[2].cols" [rowspan]="cards[2].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ cards[2].title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="pipeline-item">
            <div>Sep 1, 2021 11:11</div>
            <div style="font-weight: bold">111.111.111.111</div>
          </div>
          <div class="pipeline-item">
            <div>Sep 1, 2021 11:11</div>
            <div style="font-weight: bold">111.111.111.111</div>
          </div>
          <div class="pipeline-item">
            <div>Sep 1, 2021 11:11</div>
            <div style="font-weight: bold">111.111.111.111</div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="cards[3].cols" [rowspan]="cards[3].rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ cards[3].title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="pipeline-item">
            <div>Place Orders:</div>
            <div class="important-data">120</div>
          </div>
          <div class="pipeline-item">
            <div>Total Amount($k):</div>
            <div class="important-data">1,200</div>
          </div>
          <div class="pipeline-item">
            <div>Net Profits($1k):</div>
            <div class="important-data">100</div>
          </div>
          <div class="pipeline-item">
            <div>Receivable($1k):</div>
            <div class="important-data">2</div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
