.grid-container {
  margin: 16px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.card-item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.card-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  display: block;
  border: 2px solid lightgray;
}

.box-shadow {
  box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.important-data {
  font-weight: bold;
  font-size: 1.1rem;
}

.fxflex {
  border-radius: 8px;

  td {
    padding: 8px;
  }
  .card-subtitle {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .divider-in-text {
    padding: 0 4px;
    font-weight: bold;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    border-radius: 16px;
    margin: 8px 0;
    padding: 4px;
    .media-text-area {
      width: 120px;
    }
    &.twitter {
      background-color: rgb(0, 172, 237);
    }
    &.facebook {
      background-color: rgb(57, 83, 157);
    }
    &.linkedin {
      background-color: rgb(0, 103, 155);
    }
    .media-icon {
      width: 30px;
      height: 30px;
    }
    .media-name {
      font-size: 18px;
      letter-spacing: 0.1rem;
    }
    .media-link {
      font-size: 12px;
      text-decoration: none;
      color: white;
      opacity: 1;
      transition: all 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
