.calendar-wrapper {
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: row nowrap;
}

.calendar-header-button-container {
  position: relative;
  right: 0px;
  display: flex;
  justify-content: center;
  width: 80px;
  .mat-button {
    margin: 0;
    padding: 0;
    font-size: 14px;
    min-width: 40px;
  }
}

mat-grid-list {
  box-shadow: -1px -1px 2px lightgray;
}

mat-grid-tile {
  box-shadow: 1px 1px 1px lightgray;
  &:nth-child(7n + 1),
  &:nth-child(7n + 0) {
    color: rgba(0, 0, 0, 0.8);
  }
}

mat-grid-list.calendar {
  .mat-grid-tile {
    &:nth-child(7n + 1),
    &:nth-child(7n + 0),
    &.isHoliday {
      background-color: lightgray;
    }
    .day_event {
      background-color: #e1bee7;
      width:100%;
    }
  }
}

::ng-deep .mat-grid-tile-content {
  flex-direction: column !important;
}
