.calendar-wrapper {
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.calendar-header-button-container {
  position: relative;
  right: 0px;
  display: flex;
  justify-content: center;
  width: 80px;
  .mat-button {
    margin: 0;
    padding: 0;
    font-size: 14px;
    min-width: 40px;
  }
}

::ng-deep .mat-grid-tile-content {
  flex-direction: column !important;
}
