<div class="main__container">
  <div class="login-card">
    <main class="login-content">
      <span class="login-header">Login</span>
      <!-- login form -->

      <form class="login-form" (ngSubmit)="login()" #authform="ngForm">
        <div class="form-input-wrapper">
          <input
            ngModel
            type="email"
            autofocus
            placeholder="Email"
            name="email"
            class="login-input"
            minlength="6"
            maxlength="100"
            [attr.pattern]="'/@/'"
            required
          />
        </div>
        <div class="form-input-wrapper">
          <input
            ngModel
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            name="password"
            class="login-input"
            minlength="6"
            maxlength="50"
            required
          />
          <button
            mat-icon-button
            matSuffix
            class="button-in-input"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </div>
        <div class="form-input-wrapper">
          <input
            type="submit"
            name="submit"
            value="Login"
            class="login-btn"
            [class.btn-disabled]="!authform.form.valid"
            [disabled]="!authform.form.valid"
          />
        </div>
      </form>
      <div class="signup-link-wrapper">
        <span class="signup-notice">Don't have an account?</span>
        <a class="signup-link" routerLink="/signup">Sign up</a>
      </div>
    </main>

    <!-- linking to signup -->
    <aside class="login-aside">
      <div class="login-aside-overlay"></div>
      <h1 class="login-welcome-text">Welcome Back!</h1>
      <hr class="login-aside-hr" />
    </aside>
  </div>
</div>
