.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.file-input {
  display: none;
}

img.front-shop {
  display: block;
  border-radius: 3px;
  width: 100%;
  max-width: 200px;
  margin: 10px 0;
}
