<div class="container">
  <h2>Lead management</h2>
  <span>*:&nbsp;Register a potential client</span>
  <mat-stepper
    #stepper
    [orientation]="(stepperOrientation | async) || 'vertical'"
  >
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="name"
              required
            />
            <mat-error *ngIf="fullname?.invalid">{{
              getFullnameErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select formControlName="credit" required>
              <mat-option
                *ngFor="let option of creditLevels"
                [value]="option.value"
                >{{ option.label }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="credit?.invalid">{{
              getCreditErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      errorMessage="Address is required."
    >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            autofocus
            placeholder="Ex. 1 Main St, New York, NY"
            formControlName="address"
            required
          />
          <mat-error *ngIf="address?.invalid">{{
            getAddressErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <div class="input-container">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
            />
            <mat-error *ngIf="email?.invalid">{{
              getEmailErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="thirdFormGroup"
      errorMessage="Telephone number is required."
    >
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Fill out telephone number</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Telelphone number</mat-label>
          <input
            matInput
            autofocus
            placeholder="514-111-2222"
            formControlName="phone"
            required
          />
          <mat-error *ngIf="phone?.invalid">{{
            getPhoneErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" errorMessage="Image is required.">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Select a front shop image</ng-template>
        <input
          type="file"
          class="file-input"
          formControlName="imageFile"
          (change)="onFileSelected($event)"
          accept="{{ requiredFileType }}"
          #fileUpload
        />
        <div class="file-upload">
          {{ file?.name || "No file uploaded yet." }}

          <!--todo show image <img *ngIf="fileName" src="{{ fileName }}" /> -->

          <button
            mat-raised-button
            color="primary"
            class="upload-btn"
            (click)="fileUpload.click()"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
          <p>
            * Image file should have an extension of .jpg and maximum size is
            1M.
          </p>
          <img class="front-shop" *ngIf="fileUrl" src="{{ fileUrl }}" />
        </div>
        <div>
          <p *ngIf="file">File Size: {{ (file ? file.size : 0) | fileSize }}</p>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="allDataClear()">Reset</button>
        <button mat-button color="primary" (click)="submit()">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<app-error *ngIf="errorMessage" [message]="errorMessage"></app-error>
<app-success *ngIf="successMessage" [message]="successMessage"></app-success>
