.success-wrapper {
  position: fixed;
  left: 240px;
  top: 100px;
  width: calc(100% - 240px);
  background-color: white;
  color: #039be5;
  height: 2rem;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: transform 1s ease-in-out;
  z-index: 9999999999;
}

.success-message {
  text-align: left;
  font-size: 16pxm;
  letter-spacing: inherit;
  text-transform: capitalize;
  line-height: 1.1rem;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .success-wrapper {
    top: 60px;
    width: 100%;
    left: 0;
  }
}
