<div class="container">
  <h2 class="content-header">Sales Data Analyze ( Sep 2021 )</h2>
  <div class="content">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="ByCategory">
        <mat-card class="content-body">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" fxFlex.lt-md="100%">
              <div echarts [options]="chartOption"></div>
            </div>

            <div fxFlex="50%" fxFlex.lt-md="100%">
              <h3>Top 10 popular products</h3>
              <table>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Amount(t)</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Oil</td>
                  <td>9882</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Oil</td>
                  <td>8212</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Oil</td>
                  <td>7212</td>
                </tr>
              </table>
            </div>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="ByCustomer">
        <mat-card class="content-body">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" fxFlex.lt-md="100%">
              <div echarts [options]="pieOptions"></div>
            </div>

            <div fxFlex="50%" fxFlex.lt-md="100%">
              <h3>Top 10 VIP Customers</h3>
              <table>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Amount($1k)</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Oil</td>
                  <td>9882</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Oil</td>
                  <td>8212</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Oil</td>
                  <td>7212</td>
                </tr>
              </table>
            </div>
          </div>
        </mat-card></mat-tab
      ><mat-tab label="BySalesperson">
        <mat-card class="content-body">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" fxFlex.lt-md="100%">
              <div echarts [options]="chartOption"></div>
            </div>

            <div fxFlex="50%" fxFlex.lt-md="100%">
              <h3>Top 10 Salesperson</h3>
              <table>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Amount($1k)</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Oil</td>
                  <td>9882</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Oil</td>
                  <td>8212</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Oil</td>
                  <td>7212</td>
                </tr>
              </table>
            </div>
          </div>
        </mat-card></mat-tab
      >

      <mat-tab label="InitData">
        <button
          mat-raised-button
          class="download-button"
          (click)="downloadData()"
        >
          <mat-icon>file_download</mat-icon>
          Download
        </button>
        <table
          mat-table
          style="width: 100%"
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8"
        >
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
            <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
            <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr></table
      ></mat-tab>
    </mat-tab-group>
  </div>
</div>
