<div class="container">
  <h2>Order Management</h2>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" />
        <input matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button style="margin-left:8px;" mat-raised-button><mat-icon>search</mat-icon>Search</button>
  </div>
  <table>
    <tr>
      <th>No.</th>
      <th>Product</th>
      <th>Client</th>
      <th>SalesPerson</th>
    </tr>
    <tr>
      <td>No.1</td>
      <td>Oil</td>
      <td>ClientA</td>
      <td>SalesPersonA</td>
    </tr>
    <tr>
      <td>No21</td>
      <td>Oil</td>
      <td>ClientB</td>
      <td>SalesPersonB</td>
    </tr>
  </table>
</div>
