w<div class="main">
  <div mat-dialog-content>
    We use cookies and other tracking technologies to improve your browsing
    experience on our website, to show you personalized content and targeted
    ads, to analyze our website traffic, and to understand where our visitors
    are coming from
  </div>

  <div mat-dialog-actions class="actions">
    <button mat-raised-button color="primary" (click)="acceptCookie('yes')">
      I agree
    </button>
    <button mat-raised-button (click)="acceptCookie('no')">I decline</button>
  </div>
</div>
