/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import "./app/theme";
@import "../src/app/components/toolbar/menu-list-item/menu-list-item";
@import "../src/app/components/shopping-cart/cart/cart-item/cart-item";
@import "../src/app/components/shopping-cart/print-invoice/print-invoice";
@import "../src/app/components/scheduler/scheduler";
@import "../src/app/components/calendar/calendar";
@import "../src/app/shared/data-list/data-list";
@import "../src/app/components/todo/todo";
@import "../src/app/components/pipelines/pipeline";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  font-weight: 500;
}

.cart-wrapper {
  padding: 8px;
}

@include mat.core();
@include mat.all-component-themes($app-theme);
@include mat.strong-focus-indicators-theme($app-theme);
@include menu-list-item-color($app-theme);
@include cart-item-color($app-theme);
@include print-invoice-color($app-theme);
@include calendar-color($app-theme);
@include scheduler-color($app-theme);
@include datalist-color($app-theme);
@include todo-color($app-theme);
@include pipeline-color($app-theme);

.darkMode {
  @include mat.all-component-colors($dark-theme);
  @include menu-list-item-color($dark-theme);
  @include cart-item-color($dark-theme);
  @include print-invoice-color($dark-theme);
  @include calendar-color($dark-theme);
  @include scheduler-color($dark-theme);
  @include datalist-color($dark-theme);
  @include todo-color($dark-theme);
  @include pipeline-color($dark-theme);
}
