/* You can add global styles to this file, and also import other style files */
@use "~@angular/material" as mat;
@import "./app/theme";
@import "../src/app/components/toolbar/menu-list-item/menu-list-item";
@import "../src/app/components/shopping-cart/cart/cart-item/cart-item";
@import "../src/app/components/shopping-cart/print-invoice/print-invoice";
@import "../src/app/components/scheduler/scheduler";
@import "../src/app/components/calendar/calendar";
@import "../src/app/shared/data-list/data-list";
@import "../src/app/components/todo/todo";
@import "../src/app/components/pipelines/pipeline";
@import "../src/app/components/find-store/find-store";
@import "../src/app/components/forget-password/forget-password";
@import "../src/app/components/sign-up/sign-up";
@import "../src/app/components/change-password/change-password";
@import "../src/app/components/pipeline-authorized/pipeline-authorized";
@import "../src/app/components/report-this-month/report-this-month";
@import "../src/app/components/report-this-year/report-this-year";
@import "../src/app/components/toolbar/search-box/search-box";
@import "../src/app/components/add-product-details/product-details";
@import "../src/app/components/contact-customer/contact-customer";
@import "../src/app/home/home";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  font-weight: 500;
}

.cart-wrapper {
  padding: 8px;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@include mat.core();
@include mat.all-component-themes($app-theme);
@include mat.strong-focus-indicators-theme($app-theme);
@include menu-list-item-color($app-theme);
@include cart-item-color($app-theme);
@include print-invoice-color($app-theme);
@include calendar-color($app-theme);
@include scheduler-color($app-theme);
@include datalist-color($app-theme);
@include todo-color($app-theme);
@include pipeline-color($app-theme);
@include pipeline-authorized-color($app-theme);
@include find-store-color($app-theme);
@include forget-password-color($app-theme);
@include signup-color($app-theme);
@include change-password-color($app-theme);
@include report-this-month-color($app-theme);
@include report-this-year-color($app-theme);
@include searchbox-color($app-theme);
@include product-details-color($app-theme);
@include contact-customer-color($app-theme);
@include home-color($app-theme);

.darkMode {
  @include mat.all-component-colors($dark-theme);
  @include menu-list-item-color($dark-theme);
  @include cart-item-color($dark-theme);
  @include print-invoice-color($dark-theme);
  @include calendar-color($dark-theme);
  @include scheduler-color($dark-theme);
  @include datalist-color($dark-theme);
  @include todo-color($dark-theme);
  @include pipeline-color($dark-theme);
  @include pipeline-authorized-color($dark-theme);
  @include find-store-color($dark-theme);
  @include forget-password-color($dark-theme);
  @include signup-color($dark-theme);
  @include change-password-color($dark-theme);
  @include report-this-month-color($dark-theme);
  @include report-this-year-color($dark-theme);
  @include searchbox-color($dark-theme);
  @include product-details-color($dark-theme);
  @include contact-customer-color($dark-theme);
  @include home-color($dark-theme, rgba(255, 255, 255, 0.1));
}

.my-bottom-sheet {
  min-width: calc(100vw - 20px) !important;
}

.mat-bottom-sheet-container {
  padding: 2px 2px !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideup {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideright {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scaleup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleup-circle {
  from {
    transform-origin: top;
    transform: scale(0) translateY(-50%) rotate(0deg);
  }
  to {
    transform-origin: center;
    transform: scale(1) translateY(-50%) rotate(360deg);
  }
}
