.introduction-wrapper{
  margin: 16px 0; position: relative;
}
p.introduction:first-letter {
  font-size: 200%;
  color: #8a2be2;
}

.banner-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 80%;
}

.banner-image {
  -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0 47%);
  clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0 47%);
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.banner-text {
  position: absolute;
  left: 10px;
  bottom: 10%;
  text-shadow: 1px 1px 2px deepskyblue;
}
