<app-slide-shows></app-slide-shows>
<app-animate-card-list></app-animate-card-list>
<div class='introduction-wrapper'>
  <p class="introduction">
    Find your nearest gas Station using our station locator tool, and plan your
    route. And when you’re done, find out how new series V-Power Premium
    Gasoline provides the best total engine protection you can get, delivering
    unbeatable protection against gunk and corrosion and superior protection
    against wear.
  </p>
  <br />
  <p class="introduction">
    Enjoy your journey with happiness and without any worry, because we put the
    service back into service-station, ensuring you always leave us a little
    happier than when you arrived.
  </p>
</div>
<div class="banner-wrapper">
  <img src="./assets/homepage.jpg" class="banner-image" />
  <h1 class="banner-text">Best gas and Best Service for all the world!</h1>
</div>
