<div class="slideshow-container">
  <div
    @flyInOut
    *ngIf="activeSlideIdx === 0"
    fxLayout="row wrap "
    fxLayoutAlign="space-between"
  >
    <div fxFlex="48%" fxFlex.lt-md="100%" style="align-self: center">
      <img
        src="./assets/homepage.jpg"
        style="
          width: 100%;
          vertical-align: middle;
          object-fit: cover;
          max-height: 300px;
        "
        alt="home"
      />
    </div>

    <div fxFlex="48%" fxFlex.lt-md="100%" class="slideshow-text">
      <h3 style="font-size: 24px">Best gas station near your house</h3>
      <span>24/7 service without stopping</span>
      <p style="margin: 16px 0">
        <button mat-raised-button color="primary">
          Know more...<mat-icon>navigate_next</mat-icon>
        </button>
      </p>
    </div>
  </div>

  <div
    @flyInOut
    *ngIf="activeSlideIdx === 1"
    fxLayout="row wrap "
    fxLayoutAlign="space-between"
  >
    <div fxFlex="46%" fxFlex.lt-md="100%">
      <img
        src="./assets/homepage.jpg"
        style="
          width: 100%;
          object-fit: cover;
          vertical-align: middle;
          max-height: 300px;
        "
        alt="home"
      />
    </div>

    <div fxFlex="50%" fxFlex.lt-md="100%" class="slideshow-text">
      <h3 style="font-size: 24px">Best engineers. Best service.</h3>

      <div style="display: flex; justify-content: flex-start">
        <div style="border-right: 1px solid lightgray; padding-right: 8px">
          <p style="font-size: 16px; font-weight: bold">1200</p>
          <p>qualified engeers</p>
        </div>
        <div style="padding-left: 8px">
          <p style="font-size: 16px; font-weight: bold">12000</p>
          <p>franchised service centers</p>
        </div>
      </div>
    </div>
  </div>

  <div
    @flyInOut
    *ngIf="activeSlideIdx === 2"
    fxLayout="row wrap "
    fxLayoutAlign="space-between"
  >
    <div fxFlex="46%" fxFlex.lt-md="100%">
      <img
        src="./assets/homepage.jpg"
        style="
          width: 100%;
          object-fit: cover;
          vertical-align: middle;
          max-height: 300px;
        "
        alt="home"
      />
    </div>

    <div fxFlex="50%" fxFlex.lt-md="100%" class="slideshow-text">
      <h3 style="font-size: 24px">All in One Platform</h3>

      <div style="padding: 8px">
        From Oct 1 2021 , we will supply 12,000 free films for subscribers.
        Download your favorites series now.
      </div>
    </div>
  </div>

  <ul class="slideshow-dots">
    <li
      *ngFor="let slide of slides; let i = index"
      [ngClass]="{ active: i === activeSlideIdx }"
    >
      <a (click)="jumpToSlide(i)">{{ i + 1 }}</a>
    </li>
  </ul>
  <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>
</div>
<div style="margin: 16px 0; position: relative">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nemo explicabo
  iusto, quo numquam est placeat nam, voluptatem, odit molestiae fuga eligendi
  dolorum esse obcaecati incidunt officia facere voluptates. Sit! Vitae tempore
  id aspernatur quam doloribus explicabo dolores saepe molestiae in accusantium
  illum quidem incidunt inventore deleniti dolor harum facilis mollitia, alias
  aperiam natus officia porro. Voluptates quae placeat est. Dolorum
  reprehenderit ab provident consectetur earum vitae adipisci, est libero
  ratione repudiandae incidunt accusantium quaerat nihil nemo! Hic, inventore
  consequuntur quos, quam cum impedit amet ipsa, quod perferendis maxime ad.
  Recusandae, earum assumenda qui nostrum voluptatem eum provident! Sit
  perspiciatis rem, animi illum eius iure, voluptas sequi odio, nisi fugit
  repellendus accusamus voluptatem sunt officia aut exercitationem voluptatum
  recusandae quaerat. Perspiciatis distinctio in deserunt provident possimus
  veleniti autem. Exercitationem rerum temporibus ipsam, placeat natus corporis
  id distinctio, porro, aspernatur corrupti consequatur quos amet. Quibusdam,
  rem, tenetur sed dolor porro non dolores sit ipsam eius aliquid nulla hic qui?
</div>
<div
  style="
    position: relative;
    margin: 0 auto;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    width: 80%;
    max-height: 90%;
    border: 2px solid lightgray;
  "
>
  <img
    src="./assets/homepage.jpg"
    style="
      -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0 47%);
      clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0 47%);
      width: 100%;
      object-fit: cover;
      vertical-align: middle;
      position: relative;
    "
  />
  <h1 style="position: absolute; left: 10px; bottom: 10%">
    Best gas and Best Service for all the world!
  </h1>
</div>
