<div
  style="
    position: relative;
    margin: 0 auto;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    width: 80%;
    max-height: 90%;
    border: 2px solid lightgray;
  "
>
  <img
    src="./assets/homepage.jpg"
    style="
      -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0 47%);
      clip-path: polygon(0 1%, 100% 1%, 100% 100%, 0 47%);
      width: 100%;
      object-fit: cover;
      display: block;
      position: relative;
    "
  />
  <h1 style="position: absolute; left: 10px; bottom: 10%">
    Best gas and Best Service for the whole world!
  </h1>
</div>
