.main_container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.form-header {
  font-size: 2rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #0c1066;
  letter-spacing: 0.2rem;
  font-weight: bold;
  animation: fadein 1.75s ease-in-out;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 8px;
  padding: 4px;
  transition: all 0.3s;
  border-radius: 4px;
  &:hover,
  &:active {
    border: 1px solid white;
    opacity: 0.8;
  }
}
