.main_container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.form-header {
  font-size: 2rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #0c1066;
  letter-spacing: 0.2rem;
  font-weight: bold;
  animation: fadein 1.75s ease-in-out;
}

.form-error {
  padding-left: 8px;
  color: red;
}
