<div class="main_container">
  <mat-card>
    <main class="content">
      <form [formGroup]="myForm">
        <h2 class="form-header">Reset Password</h2>
        <div class="input-container" *ngIf="successMessage">
          <a class="nav-link" routerLink="['/login']">{{ successMessage }}</a>
        </div>

        <div class="input-container" *ngIf="!successMessage">
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              required
              maxlength="20"
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Repeat your password</mat-label>
            <input
              matInput
              required
              maxlength="20"
              formControlName="repeatPassword"
              [type]="hideRepeat ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hideRepeat = !hideRepeat"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hideRepeat ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div
          class="form-error"
          *ngIf="
            myForm?.touched &&
            myForm?.invalid &&
            repeatPassword?.value.length > 0 &&
            myForm?.errors?.identifyPassword
          "
        >
          RepeatPassword should be equal to password.
        </div>
        <div>
          <button mat-raised-button color="accent" (click)="resetPassword()">
            Reset
          </button>
        </div>
      </form>
    </main>
  </mat-card>
</div>
<app-error *ngIf="errorMessage" [message]="errorMessage"></app-error>
